<div class='container'>
	<div class='row header'>
		<div class='row'>
			<h1>360 Painting LLC</h1>
			<a href='#'><img alt='twitter' src='twitter.png' class='social twitter pull-right'></a>
			<a href='#'><img alt='facebook' src='facebook.jpg' class='social pull-right'></a>
		</div>
		<div class='row'>
			<h3>(360) 555-5555</h3>
		</div>
		<div class='links'>
			<a href='#' class='link'>Home</a>
			<a href='#' class='link'>Services</a>
			<a href='#' class='link'>Portfolio</a>
			<a href='#' class='link'>About</a>
			<a href='#' class='link'>Contact</a>
			<a href='#' class='link'>Estimates</a>
		</div>
	</div>
	<div class='row body'>
		<div class='row body-top'>
			<div class='col-md-6 estimate'>
				<h1>REQUEST A FREE ESTIMATE</h1>
				<a href='#'><img alt='estimate' src='estimate.jpg' class='pic'></a>
			</div>
			<div class='col-md-6 portfolio'>
				<h1>PORTFOLIO</h1>
				<a href='#'><img alt='portfolio' src='portfolio.jpg' class='pic'></a>
			</div>
		</div>
		<div class='row body-mid'>
			<div class='col-md-5 col-md-push-1'>
				<h2>INTERIOR & EXTERIOR RESIDENTIAL PAINTING</h2>
				<p>
					In every detail of every project, 360 Painting LLC is devoted to the utmost professionalism.  As a full-service painting company, we use premium products and superior painting techniques so that we can offer you an exclusive "NO EXCLUSIONS" Painting Happiness Guarantee. 
				</p>
				<button class='btn btn-primary'>Learn More</button>
			</div>
			<div class='col-md-5 col-md-push-1'>
				<img alt='painter' src='painter.jpg' class='painter'>
			</div>
		</div>
		<div class='row logos'>
			<img alt='bbb' src='bbb.jpg' class='logo'>
			<img alt='sherwin' src='sherwin.png' class='logo'>
			<img alt='angie' src='angies_list.jpg' class='logo'>
		</div>
	</div>
</div>